@import url("https://fonts.googleapis.com/css2?family=Yantramanav&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yantramanav", sans-serif;
}

.App {
  background: rgb(107, 248, 173);
  background: linear-gradient(
    90deg,
    rgba(107, 248, 173, 1) 35%,
    rgba(5, 206, 99, 1) 100%
  );
}

.hero-header {
  border: 2px solid black;
  padding: 1em 6em 1em 6em;
  margin: 1em auto;
  width: 97%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-image: url(../public/img/cloudy.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.75);
}

.hero-pfp {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
}

.profile-header {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.profile-body {
  padding-top: 0.5em;
}

.hero-main {
  text-align: center;
  color: black;
  margin-top: 6em;
}

.hero-main h2 {
  font-size: 2em;
  font-weight: 600;
}

.card-content {
  margin-top: 6em;
  box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.75);
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 1em auto;
  width: 97%;
  padding: 1em;
  flex-wrap: wrap;
}

.nv-main {
  background-color: #138a36;
}

footer {
  background-color: #138a36;
  color: white;
  text-align: center;
  padding: 1em;
}
